
body{
	
	 margin:0;
	 background: #474B4E
}

input[type=submit].playerButton{
	background-color: #04AA6D;
}

input[type=submit]:hover.playerButton{
	background-color: green;
}

input[type=submit].adminButton{
	background-color: indianred;
}

input[type=submit]:hover.adminButton{
	background-color: red;
}

input[type=submit].captainButton{
	background-color: skyblue;
}

input[type=submit]:hover.captainButton{
	background-color: dodgerblue;
}

input[type=submit].loginButton{
	background-color: darkorange;
}

input[type=submit]:hover.loginButton{
	background-color: orangered;
}

form{
	margin: 0;
    display: inline-block;
}

#top_bar_2 ul{
	padding: 10px 7px 10px 7px;
	background: black;
   list-style-type: none;
   text-align: center;
   margin:0;
}
#top_bar_2 li{
   display: inline;
   text-align: center;
   margin: 0 10px 0 0;
}
#top_bar_2 li a {
	padding: 2px 7px 2px 7px;
   color: black;
   background-color: orange;
   border: 1px solid dimgray;
   text-decoration: none;
}
#top_bar_2 li a:hover{
   background-color: #333333;
   color: #ffffff;
   }
   
#logo{
	display: inline-block;
	color: orange;
	margin: 0 10px;
}

#login{
	color: white;
	float: right;
	margin: 20px 10px;
}

#top_bar_1{
	background: rebeccapurple;
}

#content{
	background: #474B4E;
	margin: 0 7px;
}

#content p{
	color: white;
}

#content a{
	color:orange;
}

#content h1{
	color: #CE93E8;
}

#content h2{
	color: white;
}

#content h3{
	color: white;
}

#content td{
	color: white;
}

p.wip{
	margin: 0;
	display: inline-block;
	background-color:darkblue;
}

#buttons{
	margin: 10px 0;
}

#login_form{
	display: inline-block;
	background-color: dimgray;
	padding: 0 10 10 10;
	margin: 10;
}

#login_form p{
	color: white;
}

#login_form h2{
	color: orange;
}

#login_form label{
	color: white;
	background-color: darkred;
}