{{>header}}
<div id="content">
	
	<h1 id="title">Campeón {{name}}</h1 id="title">
	
	{{#hasDescription}}
	<p id="description">{{description}}</p>
	{{/hasDescription}}
	
	<div id="stats">
	<h2>Estadísticas:</h2>
	<p class="wip">[WIP: Gestionadas por el servicio interno]</p class="wip">
	</div>
	
	<div id="buttons">
	{{#isAdminLog}}
	<form action="/delete_champion/{{name}}" method="post"><input type='submit' class="adminButton" value='Eliminar'/></form>
	{{/isAdminLog}}
	</div>
	
</div>



</body>
</html>
