<html>
<head>

<title>Capy Tournament</title>
<link rel="stylesheet" href="/resources/styles.css">
</head>

<body>

<div id="top_bar_1">
<span id="logo">
<h1>CAPY TOURNAMENT</h1>
</span>

<span id="login">
<form action="/login">
{{#isLogged}}
<h3>REGISTRADO: {{playerName}}</h3>
{{/isLogged}}
<input type='submit' class="loginButton" value='Log-In'/>
</form>
</span>
</div>

<div id="top_bar_2">
<ul>
<li><a href="/home">Inicio</a></li>
<li><a href="/tournaments_list">Torneos</a></li>
<li><a href="/teams_list">Equipos</a></li>
<li><a href="/players_list">Jugadores</a></li>
<li><a href="/champions_list">Campeones</a></li>
</ul>
</div>