<html>
<head>

<title>Capy Tournament</title>
<link rel="stylesheet" href="/resources/styles.css">
</head>

<body>

<div id="top_bar_1">
<span id="logo">
<h1>CAPY TOURNAMENT</h1>
</span>

<span id="login">
{{#isLogged}}
<h3>
{{#isAdminLog}}
Admin
{{/isAdminLog}}
{{^isAdminLog}}
Jugador
{{/isAdminLog}}
registrado: {{playerName}}</h3>
{{/isLogged}}
{{#isLogged}}
<form action="/">
<input type='submit' class="loginButton" value='Log-Out'/>
<input type='hidden' name='_csrf' value='{{token}}'/>
</form>
</span>
</div>
{{/isLogged}}
{{^isLogged}}
<form action="/login">
<input type='submit' class="loginButton" value='Log-In'/>
<input type='hidden' name='_csrf' value='{{token}}'/>
</form>
</span>
</div>
{{/isLogged}}
<div id="top_bar_2">
<ul>
<li><a href="/home">Inicio</a></li>
<li><a href="/tournaments_list">Torneos</a></li>
<li><a href="/teams_list">Equipos</a></li>
<li><a href="/players_list">Jugadores</a></li>
<li><a href="/champions_list">Campeones</a></li>
</ul>
</div>