<html>
<head>
<link rel="stylesheet" href="styles.css">
<title>Capy Tournament</title>
</head>

<body>

<div id="top_bar_1">
<span id="logo">
<h1>[LOGO DE LA PÁGINA]</h1>
</span>

<span id="login">
<h1>[LOG-IN]</h1>
</span>
</div>

<div id="top_bar_2">
<ul>
<li><a href="/home">Inicio</a></li>
<li><a href="/tournaments_list">Torneos</a></li>
<li><a href="/teams_list">Equipos</a></li>
<li><a href="/players_list">Jugadores</a></li>
<li><a href="/champions_list">Campeones</a></li>
</ul>
</div>
<div id="content">
	
	<h1 id="title">Sección {{sectionName}}</h1 id="title">
	
	{{#hasDescription}}
	<p id="description">{{description}}</p>
	{{/hasDescription}}
	
	<table id="generic_list">
	{{#items}}
 	<tr>
 	<td>{{-index}}</td>
 	<td> <a href="/{{sectionID}}?name={{.}}">{{.}}</a></td>
 	</tr>
 	{{/items}}
 	</table id="generic_list">	
</div>



</body>
</html>
