{{>header}}
<center><div id="login_form"><center>
	<h2>INICIAR SESIÓN</h2>
	<h4>Credenciales incorrectas</h4>
	<form action="/login" method="POST">
	<p>Nombre de usuario</p>
	<input type='text' name='username'/>
	<p>Contraseña</p>
	<input type='password' name='password'/>
	<p> </p>
	<input type='submit' value='Iniciar sesión'/>
 	<input type='hidden' name='_csrf' value='{{token}}'/>
	
	</form>
	<p> </p>
	<form action="register" method="GET">
	<input type='submit' value='Registrarse >'/>
 	<input type='hidden' name='_csrf' value='{{token}}'/>
	</form>
	
	
</center></div></center>



</body>
</html>