{{>header}}
<div id="content">
	
	<h1 id="title">Jugador {{name}}</h1 id="title">
	
	{{#hasDescription}}
	<p id="description">{{description}}</p>
	{{/hasDescription}}
	
	<h2>Equipo:</h2>
	{{#hasTeam}}
	<a href="/team?name={{teamName}}">{{teamName}}</a>
	{{/hasTeam}}
	{{^hasTeam}}
	<p>{{teamName}}</p>
	{{/hasTeam}}
	
	<div id="buttons">
	{{#isAdminLog}}
	<form action="/delete_player/{{name}}" method="post"><input type='submit'  class="adminButton" value='Banear'/></form>
 	
	{{/isAdminLog}}
	</div>
	
</div>



</body>
</html>
