<html>
<head>
<title>Capy Tournament</title>
<link rel="stylesheet" href="styles.css">
</head>

<body>


<div id="bar">
<ul>
<li><a href="/home">Inicio</a></li>
<li><a href="/tournaments_list">Torneos</a></li>
<li><a href="/teams_list">Equipos</a></li>
<li><a href="/players_list">Jugadores</a></li>
<li><a href="/champions_list">Campeones</a></li>
</ul>
</div>
<div id="content">
	
	<h1 id="title">Jugador {{name}}</h1 id="title">
	
	{{#hasDescription}}
	<p id="description">{{description}}</p>
	{{/hasDescription}}
	
</div>



</body>
</html>
