{{>header}}
<div id="content">
	
	<h1 id="title">Jugador {{name}}</h1 id="title">
	
	{{#hasDescription}}
	<p id="description">{{description}}</p>
	{{/hasDescription}}
	
	<h2>Equipo:</h2>
	{{#hasTeam}}
	<a href="/team?name={{teamName}}">{{teamName}}</a>
	{{/hasTeam}}
	{{^hasTeam}}
	<p>{{teamName}}</p>
	{{/hasTeam}}
	
	<div id="stats">
	<h2>Estadísticas:</h2>
	<p class="wip">[WIP: Gestionadas por el servicio interno]</p class="wip">
	</div>
	
	<div id="buttons">
	<form action="/delete_player/{{name}}" method="post"><input type='submit'  class="adminButton" value='Banear'/></form>
	</div>
	
</div>



</body>
</html>
