{{>header}}
<center><div id="login_form"><center>
	<h2>REGISTRARSE</h2>
	<form action="/register" method="POST">
	<p>Nombre de usuario</p>
	<input type='text' name='username'/>
	<p>Correo electrónico</p>
	<input type='text' name='email'/>
	<p>Contraseña</p>
	<input type='password' name='password'/>
	<p> </p>
	<label><input type='checkbox' name="isAdmin">Registrarse como admin</label>
	<p> </p>
	<input type='submit' value='Registrarse'/>
	<input type='hidden' name='_csrf' value='{{token}}'/>
	</form action="/login">
	<p> </p>
	<form action="/login" method="GET">
	<input type='submit' value='Iniciar sesión >'/>
	<input type='hidden' name='_csrf' value='{{token}}'/>
	</form>
	
	
</center></div></center>



</body>
</html>
