<html>
<head>
<title>Capy Tournament</title>
<link rel="stylesheet" href="styles.css">
</head>

<body>

<div id="top_bar_1">
<span id="logo">
<h1>CAPY TOURNAMENT</h1>
</span>

<span id="login">
<h3>[LOG-IN]</h3>
</span>
</div>

<div id="top_bar_2">
<ul>
<li><a href="/home">Inicio</a></li>
<li><a href="/tournaments_list">Torneos</a></li>
<li><a href="/teams_list">Equipos</a></li>
<li><a href="/players_list">Jugadores</a></li>
<li><a href="/champions_list">Campeones</a></li>
</ul>
</div>
<div id="content">
	
	<h1 id="title">Equipo {{name}}</h1 id="title">
	
	{{#hasDescription}}
	<p id="description">{{description}}</p>
	{{/hasDescription}}
	
	<table id="players_list">
	{{#players}}
 	<tr>
 	<td>{{-index}}</td>
 	<td> <a href="/player?">{{.}}</a></td>
 	</tr>
 	{{/players}}
 	</table id="generic_list">
 	
 	<h2 id="join_requests">[SOLICITUDES DE UNIÓN]</h2>
 	
 	<h2 id="current_tournament">[TORNEO ACTUAL]</h2>
 	
 	<h2 id="stats">[ESTADÍSTICAS]</h2>	
</div>



</body>
</html>
