{{>header}}
<div id="content">
	
	<h1 id="title">Equipo {{name}}</h1 id="title">
	
	<p id="description">{{description}}</p>
	
	<h2>Jugadores:</h2>
	
	<table id="players_list">
	{{#players}}
 	<tr>
 	<td>{{-index}}</td>
 	<td> <a href="/player?name={{name}}">{{name}}</a></td>
 	</tr>
 	{{/players}}
 	</table id="generic_list">
 	
 	<h2>Torneo actual:</h2>
 	{{#hasTournament}}
 	<a href="/tournament?name={{tournament}}">{{tournament}}</a>
 	{{/hasTournament}}
 	{{^hasTournament}}
 	<p>Este equipo no está inscrito a ningún torneo</p>
 	{{/hasTournament}} 
 	 
 	<div id="stats">
	<h2>Estadísticas:</h2>
	<p class="wip">[WIP: Gestionadas por el servicio interno]</p class="wip">
	</div>
	
	<div id="buttons">
	{{#isLogged}}
	{{#isAdminLog}}<form action="/delete_team/{{name}}" method="post"><input type='submit'  class="adminButton" value='Eliminar'/></form>{{/isAdminLog}}
 	<input type='hidden' name='_csrf' value='{{token}}'/>
	{{#isMyTeam}}<form action="/leave_my_team" method="post"><input type='submit'  class="playerButton" value='Abandonar'/></form>{{/isMyTeam}}
 	<input type='hidden' name='_csrf' value='{{token}}'/>
	{{#playerFree}}{{#available}}<form action="/join_team/{{name}}" method="post"><input type='submit'  class="playerButton" value='Unirse'/></form>{{/available}}{{/playerFree}}
 	<input type='hidden' name='_csrf' value='{{token}}'/>
	{{/isLogged}}
	</div>
</div>



</body>
</html>
